@font-face {
    font-family: "Raleway";
    src: url("../Devoir_depot_1/assets/Raleway/Raleway/Raleway-VariableFont_wght.ttf");
    src: url("../Devoir_depot_1/assets/Raleway/Raleway/Raleway-Italic-VariableFont_wght.ttf");
    src: url("../Devoir_depot_1/assets/Raleway/Raleway/static/Raleway-Bold.ttf")
}

body{
    max-width: 1160px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: black;
}


header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #782221;

}


.profile {    
      
    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 5%;
    
    text-align: center;
    margin-bottom: 0;    

}

.hidden_1, .hidden_2, .hidden_3 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    border: 0;
}


figure {
    width: 150px;
    height: 150px;
    margin: 0;
    
    
}

figure img {
    width: 75%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 0 30px blue,
    10px 0 80px deepskyblue,
    -15px 0 30px lightskyblue;
    
}

figure img:hover {
    cursor: zoom-in;
}



.name {
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    font-style: normal;
    font-size: 1.5em;
}

.job{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}




.name, .job {
    color: white;
    margin: 5px 0;
    padding: 0;

    
}

.contact{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c1d27;
    padding: 10px;
    margin-top: 0;
    flex-direction: row;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;

}

.adress {
    text-align: left;
    flex-basis: 33%;

}
.adress a, .number a, .email a {
    color: white;
    text-decoration: none;
    
}
.adress a:hover, .number a:hover, .email a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.email{
    text-align: center;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;

}

.number {
    text-align: right;
    flex-basis: 33%;

}
.main-content {
    display: flex;
    justify-content: space-between;
    
}

.left-part {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #782221;
    


}
.right-part{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: white;
    font-weight: 300;

}

.left-part h2, .right-part h2 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    margin-block-end: 0px;
    margin-block-start: 0px;
    background-color: #dbc2a4;

}

.left-part h2{
    margin-left: -15px;
    padding-left: 30px;
}

.about p, .languages ul, .center-of-interest ul{
    color: white;    
    padding: 0 15px;
    font-weight: 300;    
}

.about p {
    text-align: justify;
    text-indent: 40px;

}

.languages ul, .center-of-interest ul {
    padding-left: 30px;
}

.right-part h2{
    padding-left: 20px;
    position: relative;
}

.right-part h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #782221;

}
.right-part h2::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #782221;
    transition: width 0.3s;
}

.right-part h2:hover::after {
    width: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #782221;
    color: white;
    

}

.Social-media-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
   
}

.Social-media-logos a img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    
}

.Social-media-logos a img:hover {
    opacity: 0.6;
}

.footer p {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
}